<header>
  <h1 style="display: none">HEADER</h1>
  <div class="headerWrap">
    <div class="menuAndLogoWrap">
      <div class="logo">Li iT</div>
    </div>
    <div class="searchWrap">
      <input type="text" placeholder="스트리머, 게임 영상 검색" />
      <button class="searchBtn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <div class="loginWrap">
      <div class="logoutWrap" hidden>로그아웃</div>
      <div class="loginBtn">
        <img src="/imgs/naverlogo.jpeg" />
      </div>
      <div class="loginBtn">
        <img src="/imgs/free-icon-kakao-talk-3991999.png" />
      </div>
      <div class="loginBtn">
        <img src="/imgs/googlelogo.png" />
      </div>
    </div>
  </div>
</header>
