<section>
  <div class="mainVideoBox">동영상</div>

  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
  <div class="videoBox">동영상</div>
</section>
