<header>
  <h1 style="display: none">HEADER</h1>
  <div class="headerWrap">
    <div class="menuAndLogoWrap">
      <div class="menuBtnWrap">
        <button><i class="fa-solid fa-bars"></i></button>
      </div>
      <div class="logo">프로젝트명로고</div>
    </div>
    <div class="searchWrap">
      <input type="text" placeholder="스트리머, 게임 영상 검색" />
      <button class="searchBtn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="loginWrap">
      <button>로그인</button>
    </div>
  </div>
</header>
